<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>pref_nav_app</string>
			<key>Key</key>
			<string>nav_app_preference</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
                <integer>6</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>nav_app_apple</string>
				<string>nav_app_google</string>
				<string>nav_app_scenic</string>
				<string>nav_app_sygic</string>
				<string>nav_app_waze</string>
				<string>nav_app_mapsme</string>
                <string>nav_app_osmand</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>pref_actioncam_title</string>
			<key>Key</key>
			<string>actioncam_preference</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>actioncam_none</string>
				<string>actioncam_hero3</string>
				<string>actioncam_hero4</string>
			</array>
		</dict>
        <dict>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Title</key>
            <string>pref_musicplayer_title</string>
            <key>Key</key>
            <string>musicplayer_preference</string>
            <key>DefaultValue</key>
            <integer>0</integer>
            <key>Values</key>
            <array>
                <integer>0</integer>
                <integer>1</integer>
            </array>
            <key>Titles</key>
            <array>
                <string>music_apple</string>
                <string>music_spotify</string>
            </array>
        </dict>
	</array>
	<key>StringsTable</key>
	<string>Integrations</string>
</dict>
</plist>
