<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Entitlements.plist
   WunderLINQ

   Created by Keith Conger on 8/29/24.
   Copyright (c) 2024 Black Box Embedded, LLC. All rights reserved.
-->
<plist version="1.0">
<dict>
<key>com.apple.developer.carplay-driving-task</key>
<true/>
</dict>
</plist>
