<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>StringsTable</key>
        <string>Tasks</string>
        <key>PreferenceSpecifiers</key>
        <array>
            <dict>
                <key>Type</key>
                <string>PSMultiValueSpecifier</string>
                <key>Title</key>
                <string>pref_task_one</string>
                <key>Key</key>
                <string>task_one_preference</string>
                <key>DefaultValue</key>
                <integer>0</integer>
                <key>Values</key>
                <array>
                    <integer>0</integer>
                    <integer>1</integer>
                    <integer>2</integer>
                    <integer>3</integer>
                    <integer>4</integer>
                    <integer>5</integer>
                    <integer>6</integer>
                    <integer>7</integer>
                    <integer>8</integer>
                    <integer>9</integer>
                    <integer>10</integer>
                    <integer>11</integer>
                    <integer>12</integer>
                    <integer>13</integer>
                    <integer>14</integer>
                    <integer>15</integer>
                </array>
                <key>Titles</key>
                <array>
                    <string>task_title_navigation</string>
                    <string>task_title_gohome</string>
                    <string>task_title_favnumber</string>
                    <string>task_title_callcontact</string>
                    <string>task_title_photo</string>
                    <string>task_title_selfie</string>
                    <string>task_title_start_record</string>
                    <string>task_title_start_trip</string>
                    <string>task_title_waypoint</string>
                    <string>task_title_waypoint_nav</string>
                    <string>task_title_settings</string>
                    <string>task_title_actioncam_start_video</string>
                    <string>task_title_weathermap</string>
                    <string>task_title_roadbook</string>
                    <string>task_title_systemvolume</string>
                    <string>task_title_empty</string>
                </array>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSMultiValueSpecifier</string>
                <key>Title</key>
                <string>pref_task_two</string>
                <key>Key</key>
                <string>task_two_preference</string>
                <key>DefaultValue</key>
                <integer>1</integer>
                <key>Values</key>
                <array>
                    <integer>0</integer>
                    <integer>1</integer>
                    <integer>2</integer>
                    <integer>3</integer>
                    <integer>4</integer>
                    <integer>5</integer>
                    <integer>6</integer>
                    <integer>7</integer>
                    <integer>8</integer>
                    <integer>9</integer>
                    <integer>10</integer>
                    <integer>11</integer>
                    <integer>12</integer>
                    <integer>13</integer>
                    <integer>14</integer>
                    <integer>15</integer>
                </array>
                <key>Titles</key>
                <array>
                    <string>task_title_navigation</string>
                    <string>task_title_gohome</string>
                    <string>task_title_favnumber</string>
                    <string>task_title_callcontact</string>
                    <string>task_title_photo</string>
                    <string>task_title_selfie</string>
                    <string>task_title_start_record</string>
                    <string>task_title_start_trip</string>
                    <string>task_title_waypoint</string>
                    <string>task_title_waypoint_nav</string>
                    <string>task_title_settings</string>
                    <string>task_title_actioncam_start_video</string>
                    <string>task_title_weathermap</string>
                    <string>task_title_roadbook</string>
                    <string>task_title_systemvolume</string>
                    <string>task_title_empty</string>
                </array>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSMultiValueSpecifier</string>
                <key>Title</key>
                <string>pref_task_three</string>
                <key>Key</key>
                <string>task_three_preference</string>
                <key>DefaultValue</key>
                <integer>2</integer>
                <key>Values</key>
                <array>
                    <integer>0</integer>
                    <integer>1</integer>
                    <integer>2</integer>
                    <integer>3</integer>
                    <integer>4</integer>
                    <integer>5</integer>
                    <integer>6</integer>
                    <integer>7</integer>
                    <integer>8</integer>
                    <integer>9</integer>
                    <integer>10</integer>
                    <integer>11</integer>
                    <integer>12</integer>
                    <integer>13</integer>
                    <integer>14</integer>
                    <integer>15</integer>
                </array>
                <key>Titles</key>
                <array>
                    <string>task_title_navigation</string>
                    <string>task_title_gohome</string>
                    <string>task_title_favnumber</string>
                    <string>task_title_callcontact</string>
                    <string>task_title_photo</string>
                    <string>task_title_selfie</string>
                    <string>task_title_start_record</string>
                    <string>task_title_start_trip</string>
                    <string>task_title_waypoint</string>
                    <string>task_title_waypoint_nav</string>
                    <string>task_title_settings</string>
                    <string>task_title_actioncam_start_video</string>
                    <string>task_title_weathermap</string>
                    <string>task_title_roadbook</string>
                    <string>task_title_systemvolume</string>
                    <string>task_title_empty</string>
                </array>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSMultiValueSpecifier</string>
                <key>Title</key>
                <string>pref_task_four</string>
                <key>Key</key>
                <string>task_four_preference</string>
                <key>DefaultValue</key>
                <integer>3</integer>
                <key>Values</key>
                <array>
                    <integer>0</integer>
                    <integer>1</integer>
                    <integer>2</integer>
                    <integer>3</integer>
                    <integer>4</integer>
                    <integer>5</integer>
                    <integer>6</integer>
                    <integer>7</integer>
                    <integer>8</integer>
                    <integer>9</integer>
                    <integer>10</integer>
                    <integer>11</integer>
                    <integer>12</integer>
                    <integer>13</integer>
                    <integer>14</integer>
                    <integer>15</integer>
                </array>
                <key>Titles</key>
                <array>
                    <string>task_title_navigation</string>
                    <string>task_title_gohome</string>
                    <string>task_title_favnumber</string>
                    <string>task_title_callcontact</string>
                    <string>task_title_photo</string>
                    <string>task_title_selfie</string>
                    <string>task_title_start_record</string>
                    <string>task_title_start_trip</string>
                    <string>task_title_waypoint</string>
                    <string>task_title_waypoint_nav</string>
                    <string>task_title_settings</string>
                    <string>task_title_actioncam_start_video</string>
                    <string>task_title_weathermap</string>
                    <string>task_title_roadbook</string>
                    <string>task_title_systemvolume</string>
                    <string>task_title_empty</string>
                </array>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSMultiValueSpecifier</string>
                <key>Title</key>
                <string>pref_task_five</string>
                <key>Key</key>
                <string>task_five_preference</string>
                <key>DefaultValue</key>
                <integer>4</integer>
                <key>Values</key>
                <array>
                    <integer>0</integer>
                    <integer>1</integer>
                    <integer>2</integer>
                    <integer>3</integer>
                    <integer>4</integer>
                    <integer>5</integer>
                    <integer>6</integer>
                    <integer>7</integer>
                    <integer>8</integer>
                    <integer>9</integer>
                    <integer>10</integer>
                    <integer>11</integer>
                    <integer>12</integer>
                    <integer>13</integer>
                    <integer>14</integer>
                    <integer>15</integer>
                </array>
                <key>Titles</key>
                <array>
                    <string>task_title_navigation</string>
                    <string>task_title_gohome</string>
                    <string>task_title_favnumber</string>
                    <string>task_title_callcontact</string>
                    <string>task_title_photo</string>
                    <string>task_title_selfie</string>
                    <string>task_title_start_record</string>
                    <string>task_title_start_trip</string>
                    <string>task_title_waypoint</string>
                    <string>task_title_waypoint_nav</string>
                    <string>task_title_settings</string>
                    <string>task_title_actioncam_start_video</string>
                    <string>task_title_weathermap</string>
                    <string>task_title_roadbook</string>
                    <string>task_title_systemvolume</string>
                    <string>task_title_empty</string>
                </array>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSMultiValueSpecifier</string>
                <key>Title</key>
                <string>pref_task_six</string>
                <key>Key</key>
                <string>task_six_preference</string>
                <key>DefaultValue</key>
                <integer>5</integer>
                <key>Values</key>
                <array>
                    <integer>0</integer>
                    <integer>1</integer>
                    <integer>2</integer>
                    <integer>3</integer>
                    <integer>4</integer>
                    <integer>5</integer>
                    <integer>6</integer>
                    <integer>7</integer>
                    <integer>8</integer>
                    <integer>9</integer>
                    <integer>10</integer>
                    <integer>11</integer>
                    <integer>12</integer>
                    <integer>13</integer>
                    <integer>14</integer>
                    <integer>15</integer>
                </array>
                <key>Titles</key>
                <array>
                    <string>task_title_navigation</string>
                    <string>task_title_gohome</string>
                    <string>task_title_favnumber</string>
                    <string>task_title_callcontact</string>
                    <string>task_title_photo</string>
                    <string>task_title_selfie</string>
                    <string>task_title_start_record</string>
                    <string>task_title_start_trip</string>
                    <string>task_title_waypoint</string>
                    <string>task_title_waypoint_nav</string>
                    <string>task_title_settings</string>
                    <string>task_title_actioncam_start_video</string>
                    <string>task_title_weathermap</string>
                    <string>task_title_roadbook</string>
                    <string>task_title_systemvolume</string>
                    <string>task_title_empty</string>
                </array>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSMultiValueSpecifier</string>
                <key>Title</key>
                <string>pref_task_seven</string>
                <key>Key</key>
                <string>task_seven_preference</string>
                <key>DefaultValue</key>
                <integer>6</integer>
                <key>Values</key>
                <array>
                    <integer>0</integer>
                    <integer>1</integer>
                    <integer>2</integer>
                    <integer>3</integer>
                    <integer>4</integer>
                    <integer>5</integer>
                    <integer>6</integer>
                    <integer>7</integer>
                    <integer>8</integer>
                    <integer>9</integer>
                    <integer>10</integer>
                    <integer>11</integer>
                    <integer>12</integer>
                    <integer>13</integer>
                    <integer>14</integer>
                    <integer>15</integer>
                </array>
                <key>Titles</key>
                <array>
                    <string>task_title_navigation</string>
                    <string>task_title_gohome</string>
                    <string>task_title_favnumber</string>
                    <string>task_title_callcontact</string>
                    <string>task_title_photo</string>
                    <string>task_title_selfie</string>
                    <string>task_title_start_record</string>
                    <string>task_title_start_trip</string>
                    <string>task_title_waypoint</string>
                    <string>task_title_waypoint_nav</string>
                    <string>task_title_settings</string>
                    <string>task_title_actioncam_start_video</string>
                    <string>task_title_weathermap</string>
                    <string>task_title_roadbook</string>
                    <string>task_title_systemvolume</string>
                    <string>task_title_empty</string>
                </array>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSMultiValueSpecifier</string>
                <key>Title</key>
                <string>pref_task_eight</string>
                <key>Key</key>
                <string>task_eight_preference</string>
                <key>DefaultValue</key>
                <integer>7</integer>
                <key>Values</key>
                <array>
                    <integer>0</integer>
                    <integer>1</integer>
                    <integer>2</integer>
                    <integer>3</integer>
                    <integer>4</integer>
                    <integer>5</integer>
                    <integer>6</integer>
                    <integer>7</integer>
                    <integer>8</integer>
                    <integer>9</integer>
                    <integer>10</integer>
                    <integer>11</integer>
                    <integer>12</integer>
                    <integer>13</integer>
                    <integer>14</integer>
                    <integer>15</integer>
                </array>
                <key>Titles</key>
                <array>
                    <string>task_title_navigation</string>
                    <string>task_title_gohome</string>
                    <string>task_title_favnumber</string>
                    <string>task_title_callcontact</string>
                    <string>task_title_photo</string>
                    <string>task_title_selfie</string>
                    <string>task_title_start_record</string>
                    <string>task_title_start_trip</string>
                    <string>task_title_waypoint</string>
                    <string>task_title_waypoint_nav</string>
                    <string>task_title_settings</string>
                    <string>task_title_actioncam_start_video</string>
                    <string>task_title_weathermap</string>
                    <string>task_title_roadbook</string>
                    <string>task_title_systemvolume</string>
                    <string>task_title_empty</string>
                </array>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSMultiValueSpecifier</string>
                <key>Title</key>
                <string>pref_task_nine</string>
                <key>Key</key>
                <string>task_nine_preference</string>
                <key>DefaultValue</key>
                <integer>8</integer>
                <key>Values</key>
                <array>
                    <integer>0</integer>
                    <integer>1</integer>
                    <integer>2</integer>
                    <integer>3</integer>
                    <integer>4</integer>
                    <integer>5</integer>
                    <integer>6</integer>
                    <integer>7</integer>
                    <integer>8</integer>
                    <integer>9</integer>
                    <integer>10</integer>
                    <integer>11</integer>
                    <integer>12</integer>
                    <integer>13</integer>
                    <integer>14</integer>
                    <integer>15</integer>
                </array>
                <key>Titles</key>
                <array>
                    <string>task_title_navigation</string>
                    <string>task_title_gohome</string>
                    <string>task_title_favnumber</string>
                    <string>task_title_callcontact</string>
                    <string>task_title_photo</string>
                    <string>task_title_selfie</string>
                    <string>task_title_start_record</string>
                    <string>task_title_start_trip</string>
                    <string>task_title_waypoint</string>
                    <string>task_title_waypoint_nav</string>
                    <string>task_title_settings</string>
                    <string>task_title_actioncam_start_video</string>
                    <string>task_title_weathermap</string>
                    <string>task_title_roadbook</string>
                    <string>task_title_systemvolume</string>
                    <string>task_title_empty</string>
                </array>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSMultiValueSpecifier</string>
                <key>Title</key>
                <string>pref_task_ten</string>
                <key>Key</key>
                <string>task_ten_preference</string>
                <key>DefaultValue</key>
                <integer>9</integer>
                <key>Values</key>
                <array>
                    <integer>0</integer>
                    <integer>1</integer>
                    <integer>2</integer>
                    <integer>3</integer>
                    <integer>4</integer>
                    <integer>5</integer>
                    <integer>6</integer>
                    <integer>7</integer>
                    <integer>8</integer>
                    <integer>9</integer>
                    <integer>10</integer>
                    <integer>11</integer>
                    <integer>12</integer>
                    <integer>13</integer>
                    <integer>14</integer>
                    <integer>15</integer>
                </array>
                <key>Titles</key>
                <array>
                    <string>task_title_navigation</string>
                    <string>task_title_gohome</string>
                    <string>task_title_favnumber</string>
                    <string>task_title_callcontact</string>
                    <string>task_title_photo</string>
                    <string>task_title_selfie</string>
                    <string>task_title_start_record</string>
                    <string>task_title_start_trip</string>
                    <string>task_title_waypoint</string>
                    <string>task_title_waypoint_nav</string>
                    <string>task_title_settings</string>
                    <string>task_title_actioncam_start_video</string>
                    <string>task_title_weathermap</string>
                    <string>task_title_roadbook</string>
                    <string>task_title_systemvolume</string>
                    <string>task_title_empty</string>
                </array>
            </dict>
        </array>
    </dict>
</plist>

